// This means don't rerun jobs that have completed successfully unless 
// the inputs have changed. If you remove this line, everything will 
// rerun every time.
resume = true

profiles {

    local {
        process {

            // Defaults
            cpus = 2
            memory = '4 GB'

            // Override defaults for resource intensive process
            withName: DCIFER_WRAPPER_PER_POP_AF {
                cpus = 6
            }

        }
    }

    rockfish {

        executor.account = 'awesolo2'
        workDir = '/scratch4/awesolo2/projects/GenE8_rel_sims/work'

        process {

            executor = 'slurm'
            queue = 'shared'
            cpus = 1
            time = 10.min

            if (params.mode == 'test') {

                // Memory scales off the number of CPUs (4 GB per CPU) 
                // on the shared partition, so is not set explicitly 
                // for these processes
                withName: DCIFER_WRAPPER_PER_POP_AF {
                    cpus = 4
                }

            } else if (params.mode == 'full') {

                // Memory scales off the number of CPUs (4 GB per CPU) 
                // on the shared partition, so is not set explicitly 
                // for these processes
                withName: DCIFER_WRAPPER_PER_POP_AF {
                    cpus = 32
                    time = 12.hour
                }

            }

        }

    }
    
    docker {
        docker {
            enabled = true
            runOptions = '--platform linux/amd64'
        }
        process.container = 'ahubba/gene8connectivity:latest'
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            container = "/data/awesolo2/projects/E8_connectivity/gene8connectivity_latest.sif"
        }
    }

}
