// This means don't rerun jobs that have completed successfully unless 
// the inputs have changed. If you remove this line, everything will 
// rerun every time.
resume = true
// Set defaults for input and output locations that you can override 
// from the sbatch script when running on Rockfish
params {
    resdir = 'results'
    simdir = 'data/simulations'
    input      = 'data/MAD4HATTER_ghana_2010.tsv.gz'
    n_sims     = 5          // total number of parallel simulation iterations
    sim_pop_size        = 1000
    num_samples_per_sim = 100
    // sim_population params
    pop_alpha  = 50
    coi_r      = 0.5
    coi_p      = 0.2
    k_s        = 0.2
    max_k      = 15
    max_coi    = 10
    // ancestor generation params (used in PREP_ANCESTORS)
    gen_pop_size        = 500
    final_pop_size      = 500
    final_pop_gen2_prop = 0.3
    anc_ancestor_size = 100
    anc_pop_alpha  = 999
    anc_coi_r      = 0.5
    anc_coi_p      = 0.2
    anc_k_s        = 0.2
    anc_max_k      = 15
    anc_max_coi    = 10
}

profiles {

    local {
        process {

            // Defaults
            cpus = 2
            memory = '4 GB'

            // Override defaults for resource intensive process
            withName: 'RUN_SIM_ITER' {
                    cpus = 2
                    memory = '4 GB'
                }
                withName: 'PREP_ANCESTORS' {
                    cpus   = 4
                    memory = '8 GB'
                }

        }
    }

    rockfish {

        executor.account = 'awesolo2'
        workDir = '/scratch4/awesolo2/projects/GenE8_rel_sims/work'

        process {

            executor = 'slurm'
            queue = 'shared'
            cpus = 1
            time = 100.min

            if (params.mode == 'test') {

                // Memory scales off the number of CPUs (4 GB per CPU) 
                // on the shared partition, so is not set explicitly 
                // for these processes
                withName: 'RUN_SIM_ITER' {
                    cpus = 1
                    memory = '4 GB'
                }
                withName: 'PREP_ANCESTORS' {
                    cpus   = 2
                    memory = '8 GB'
                }

            } else if (params.mode == 'full') {

                // Memory scales off the number of CPUs (4 GB per CPU) 
                // on the shared partition, so is not set explicitly 
                // for these processes
                withName: 'RUN_SIM_ITER' {
                    cpus = 4
                    time = 24.hour
                }
                withName: 'PREP_ANCESTORS' {
                    cpus   = 2
                    memory = '8 GB'
                    time = 2.hour
                }

            }

        }

    }
    
    docker {
        docker {
            enabled = true
            runOptions = '--platform linux/amd64'
        }
        process.container = 'ahubba/gene8connectivity:latest'
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            container = "/data/awesolo2/projects/GenE8_rel_sims/gene8relsims_latest.sif"
        }
    }

}
